.hamburger {
  cursor: pointer;
  position: relative;
  width: 31px;
  height: 25px;
  z-index: 15;
  display: none;
}

.hamburger-container {
  display: none;
  padding: 1rem;
}

.hamburger-line {
  display: block;
  width: 31px;
  height: 3px;
  position: relative;
  background: var(--color-text);
  border-radius: 5px;
  z-index: 2;
  transform-origin: left center;
  transition: all 0.3s ease-in-out;
}

.hamburger-line::after {
  width: 31px;
  height: 3px;
  background: var(--color-text);
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  
}

.hamburger-line::before {
  width: 31px;
  height: 3px;
  background: var(--color-text);
  position: absolute;
  content: '';
  bottom: 8px;
  left: 0;
  z-index: 2;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.hamburger.crest > .hamburger-line {
  width: 0;
}
.hamburger.crest > .hamburger-line::before {
  background: var(--color-text);
  transform: rotate(45deg) translate(5px, 6px);
}
.hamburger.crest > .hamburger-line::after {
  background: var(--color-text);
  transform: rotate(-45deg) translate(5px, -6px);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
  display: none;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  border-radius: 15px 15px 0 0;
  background: var(--color-background);
  z-index: 102;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 50px 20px;
  transform: translateY(45px);
  transition: transform 0.3s cubic-bezier(0.24, 0.22, 0.015, 1.56);
}

.mobile-navigation {
  width: 100%;
  padding: 0;
}

.mobile-navigation__item {
  border-radius: 10px;
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
}

.menu-hidden {
  transform: translateY(100%);
}

.mobile-navigation__link {
  text-decoration: none;
  color: var(--color-text);
}

.mobile-navigation__item .mobile-navigation__link {
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}
.mobile-navigation__item:hover {
  background: var(--color-disabled-1);
}

.active-link {
  color: var(--color-primary);
  background: var(--color-disabled-1);
}

@media (max-width: 25.9375rem) {
  .hamburger {
    display: flex;
    align-items: center;
  }

  .is-open {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}